@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300);

body{color: #9D9D9D; background-color: #000; margin:0;padding:0; overflow: hidden; font-family: Quicksand;}

a{color:#9D9D9D	; text-decoration: none;}
a:hover{color: #fff;}

input{margin-right: 1em; border-radius: 4px;}

#toolbar {
    width: 100%;
    font-weight: 400;
    height: auto;
    padding: 10px 0px;
    font-size: 18px;
    line-height: 24px;
    background: #222;
    top: 0;
    position: fixed;
    color: #9D9D9D;
    text-align: center;
    clear: both;
    overflow: hidden;
}

.logo-panel{padding: 0 20px;float: left;}
.logo-panel img{height: 24px; width: auto;}
.logo-panel h1{padding: 0; margin: 0; font-size: 24px; font-weight: 700; color: #fff;}

.choose-color-panel{padding: 0 40px 0 20px;float: right;}

.credits-toolbar-panel{	padding: 0 20px 0 40px;	border-left: 1px solid white;float: right;}
.credits-toolbar-panel .credits-link{color: #d80073;}
.credits-toolbar-panel a:hover{	color: #E257A0;}

#credits-panel{
	position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:13em;
    margin-top: -6em; 
    margin-left: -15em;
    border: 1px solid #E257A0;
    background-color: #222;
    padding: 1em;
}

#credits-panel a{color: #1ba1e2;}
#credits-panel .credits-logo{margin-bottom:1em;}
#credits-panel .credits-logo img{height:3em; width: auto;}
#credits-panel .credits-logo span{font-size:1.5em; }
#close_credits_link{text-align: right; 	font-size: 2em; width: 4em; position: absolute; top:.2em; right: .5em;}
#close_credits_link a{color: #9D9D9D;}
#close_credits_link a:hover{color: #fff;}


